.navbar {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); /* Deep ocean gradient */
  padding: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: background 0.3s ease;
  z-index: 999;
}

.navbar-brand {
  font-family: var(--font-header);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  color: #ff6361;
  gap: 10px;
  font-size: 24px;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #ff4b3f;
}

.navbar-brand img{
  width: 40px;
  height: 40px;
  margin-right: 3px;
}

.nav-link {
  margin: 0 15px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: var(--font-navlink);
  transition: color 0.3s ease;
}

.nav-link.active{
  color: #ff6361;
}
.nav-link:hover {
  color: #ff6361;
}
/* === Hamburger Icon === */
.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* === Dropdown Menu === */
.dropdown-menu {
  background-color: #2c5364;
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
  color: #ffffff;
  font-family: var(--font-navlink);
  font-weight: 500;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: #ff6361;
  color: #ffffff;
  border-radius: 5px;
}
